@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes fromBelow {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toBelow {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes materialize {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes dematerialize {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
