:root {
  --clear: #ffffff;
  --gray: #eddac8;

  --font-primary: #7a5233;
  --font-secondary: #4a2f1b;

  --primary: #ff6d1f;
  --primary-dark: #e34f1e;

  --secondary: #fff4df;
  --secondary-dark: #fbc938;
  --secondary-light: #fff9f3;

  --success: #70b77e;
  --attention: #f6c65b;
  --alert: #d9665a;
}
