#admin {
  b {
    font-size: 28px;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;

    .item {
      background-color: var(--secondary);
      padding: 0.2rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .order {
    width: 100%;
    .card-content {
      width: 100%;
      .separator {
        border: 2px dashed var(--secondary-light);
      }
    }
    .finish {
      background-color: transparent;
      border: transparent;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0;
      svg {
        background-color: var(--primary);
        border-radius: 100%;
      }
    }
  }

  .status {
    border: 4px solid var(--font-secondary);
    border-radius: 100%;
    background: var(--font-secondary);

    &.active {
      color: var(--success);
    }
    &.paused {
      color: var(--attention);
    }
    &.inactive {
      color: var(--alert);
    }
  }

  .info {
    .card-content {
      gap: 1rem;
      li {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;

        input {
          width: 8rem;
        }
      }
    }
  }
}
