#admin {
  b {
    font-size: 28px;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;

    .item {
      background-color: var(--secondary);
      padding: 0.2rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .order-type-selection {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;

    .local-orders,
    .delivery-orders {
      width: 3.5rem;
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--gray);
      font-weight: 800;
      font-size: 24px;

      border: 2px solid;
      border-radius: .5rem;
      padding: .2rem .5rem;

      transition: all .3s ease-in-out;

      svg {
        color: var(--gray);
      }

      &.active {
        color: var(--primary);

        svg {
          color: var(--primary);
        }
      }
    }
  }

  .order {
    width: 100%;
    .card-content {
      width: 100%;
      .separator {
        border: 2px dashed var(--secondary-light);
      }
    }
    .order-actions {
      display: flex;
      padding: 0.5rem;
      gap: 5rem;
      .finish,
      .cancel {
        background-color: transparent;
        border: transparent;
        width: 100%;
        display: flex;
        padding: 0;
        svg {
          border-radius: 100%;
        }
      }
      .cancel {
        justify-content: flex-start;

        svg {
          background-color: var(--alert);
        }
      }
      .finish {
        justify-content: flex-end;

        svg {
          background-color: var(--success);
        }
      }
    }
  }

  .status {
    border: 4px solid var(--font-secondary);
    border-radius: 100%;
    background: var(--font-secondary);

    &.active {
      color: var(--success);
    }
    &.paused {
      color: var(--attention);
    }
    &.inactive {
      color: var(--alert);
    }
  }

  .info {
    .card-content {
      gap: 1rem;
      li {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;

        input {
          width: 8rem;
        }
      }
    }
  }
}
