#admin {
  b {
    font-size: 28px;
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;

    .item {
      background-color: var(--secondary);
      padding: 0.2rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .order-type-selection {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;

    .local-orders,
    .delivery-orders {
      width: 3.5rem;
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--gray);
      font-weight: 800;
      font-size: 24px;

      border: 2px solid;
      border-radius: 0.5rem;
      padding: 0.2rem 0.5rem;

      transition: all 0.3s ease-in-out;

      svg {
        color: var(--gray);
      }

      &.active {
        color: var(--primary);

        svg {
          color: var(--primary);
        }
      }
    }
  }

  .order {
    width: 100%;
    .card-content {
      width: 100%;
    }
    .order-address {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p,
      b {
        font-size: 20px;

        color: var(--font-secondary);
      }
    }
    .order-actions {
      display: flex;
      padding: 0.5rem;
      gap: 5rem;
      .finish,
      .cancel {
        background-color: transparent;
        border: transparent;
        width: 100%;
        display: flex;
        padding: 0;
        svg {
          border-radius: 100%;
        }
      }
      .cancel {
        justify-content: flex-start;

        svg {
          background-color: var(--alert);
        }
      }
      .finish {
        justify-content: flex-end;

        svg {
          background-color: var(--success);
        }
      }
    }
    .total {
      color: var(--font-secondary);
    }
  }

  .status {
    border: 4px solid var(--font-secondary);
    border-radius: 100%;
    background: var(--font-secondary);

    &.active {
      color: var(--success);
    }
    &.paused {
      color: var(--attention);
    }
    &.inactive {
      color: var(--alert);
    }
  }

  .info {
    .card-content {
      gap: 1rem;
      li {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;

        input {
          width: 8rem;
        }
      }
    }
  }

  #graph {
    b.title {
      margin: auto;
      max-width: 60vw;
    }

    .search-wrapper {
      width: fit-content;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .date-select-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;

        input[type="date"] {
          background: var(--secondary-light);
          color: var(--font-secondary);
          border-color: var(--secondary);
          border-radius: 0.5rem;
          padding: 0.2rem;
        }

        div {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          color: var(--font-secondary);
          font-size: 16px;
          font-weight: 400;

          span {
            width: 6rem;
          }
        }
      }

      svg {
        min-width: 0.5rem;
        max-width: 1.5rem;
        &.inactive {
          color: var(--gray);
          transition: all 0.2s ease-in-out;
        }
        &.active {
          color: var(--primary);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .card {
      .card-content {
        width: 100%;
      }
      .title {
        margin: 0 auto 1rem auto;
      }
      p {
        color: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
      }
      b {
        margin: 0 1rem;
        font-size: 20px;
        font-weight: 600;
        color: var(--primary);
      }
    }
  }
}
