#checkout {
  .client-info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .radio-selection {
      margin: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0.5rem;

      label {
        input[type="radio"] {
          display: none;
        }

        span {
          background-color: transparent;
          display: flex;
          
          justify-content: center;
          align-items: center;

          height: fit-content;
          width: fit-content;

          gap: 0.5rem;
          padding: 0.3rem 1rem;
          border: 2px solid var(--gray);
          border-radius: 2rem;

          color: var(--font-secondary);
          font-weight: 600;
          font-size: 14px;

          transition: all 0.3s ease-in-out;
        }

        & input:checked + span {
          border: 2px solid var(--primary);
          background-color: var(--primary);
          color: var(--clear);
          filter: drop-shadow(2px 2px 5px var(--primary));
        }
      }
    }
  }
  input,
  textarea {
    border: 2px solid var(--gray);
    border-radius: 0.5rem;
    background-color: transparent;

    color: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 0.8rem 0.5rem;
  }
  .order-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;

    button {
      transition: all ease-in-out 0.3s;

      &.active {
        border: 2px solid var(--primary);
      }
      &.inactive {
        border: 2px solid var(--gray);
        background-color: transparent;
        color: var(--font-secondary);

        svg {
          color: var(--font-secondary);
        }
      }
    }
  }
  .total-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    .price {
      display: flex;
      flex-direction: column;
      text-align: end;

      p {
        font-size: 14px;
        color: var(--font-primary);
        font-weight: 400;

        &.value {
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
  }
}
.action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}
