#checkout {
  background-color: var(--secondary);

  .card {
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary-dark);
    border-radius: 0.5rem;
  }

  input,
  textarea {
    background-color: var(--clear);
  }
  .action-row {
    background-color: var(--secondary-light);
    box-shadow: 0px 0px 5px var(--secondary-dark);

    button {
      font-size: 20px;
    }
  }
  .order-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;

    button {
      background-color: var(--gray);
      border: 2px solid var(--clear);
    }
  }
}
.action-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: .5rem;

  button {
    border-radius: 0.5rem;
  }
}
