#drawer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  .drawer-menu {
    opacity: 0;
    transform: translateX(20px);
  }

  .overlay {
    opacity: 0;
  }

  &.show {
    pointer-events: auto;

    .drawer-menu {
      animation: fromRight 0.4s ease-out forwards;
    }

    .overlay {
      animation: materialize 0.4s ease-out forwards;
    }
  }

  &.hidden {
    .drawer-menu {
      animation: toRight 0.4s ease-out forwards;
    }

    .overlay {
      animation: dematerialize 0.4s ease-out forwards;
    }
  }
}

.menu-toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1rem;

  transition: all 0.3s ease-in-out;
}
.overlay {
  background-color: var(--font-secondary);
  opacity: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.drawer-menu {
  background-color: var(--secondary-light);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 16rem;

  .drawer-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--gray);

    color: var(--font-primary);
    font-weight: 800;

    svg {
      color: var(--font-primary) !important;
    }
  }

  .menu-options {
    list-style-type: none;
    padding: 1rem;

    li {
      padding: 0.5rem;

      font-size: 20px;
      font-weight: 600;
      color: var(--font-primary);

      a {
        text-decoration: none;
        color: inherit;
      }

      &:first-of-type {
        margin-top: 0;
        border: unset;
      }
    }
  }
}
