.floater {
  background-color: var(--secondary-light);
  box-shadow: 0px -2px 10px var(--gray);

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  gap: 1rem;

  z-index: 999;

  transition: 0.2s ease-in-out;

  .total-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    .bubble {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 2rem;
      border-radius: 100%;
      background-color: var(--gray);
      svg {
        color: var(--font-primary);
      }

      .cart-amount {
        background-color: var(--primary);
        width: 1rem;
        height: 1rem;
        padding: 0 1px 2px;
        border-radius: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(33%, -33%);

        color: var(--clear);
        font-size: 12px;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      text-align: start;

      p {
        font-size: 14px;
        color: var(--font-primary);
        font-weight: 400;

        &.value {
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
  }

  &.hidden {
    transform: translateY(100%);
  }

  &.control {
    button {
      background: transparent;
      border: none;
      padding: 0;
    }
  }
}
