.floater {
  background-color: var(--secondary);
  box-shadow: 0px 0px 5px var(--secondary-dark);

  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  gap: 1rem;

  z-index: 999;

  transition: 0.2s ease-in-out;

  &.hidden {
    transform: translateY(100%); 
  }

  &.control {
    button {
      background: transparent;
      border: none;
      padding: 0;
      svg {
        color: var(--gray);
      }
      &.active {
        svg {
          color: var(--primary);
        }
      }
    }
  }
}
