.floater {
    background-color: var(--secondary);

    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    box-shadow: 0px 3px 10px var(--primary);

    border-top: 2px solid var(--secondary-dark);

    transition: .2s ease-in-out;

    .floater-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        padding: .5rem;
        .floater-link {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .whatsapp {
        figure {
            &:after {
                content: "";
                mask: url("../../svg/whatsapp.svg") no-repeat center;
                mask-size: 100%;
                background-color: var(--primary);

                display: block;
                width: 3rem;
                aspect-ratio: 1;
            }
        }
    }
      
    &.hidden {
        transform: translateY(100%); /* Esconde o footer */
    }
    
    &.visible {
        transform: translateY(0); /* Mostra o footer */
    }
}