header {
    position: fixed;
    width: 100%;

    background-color: var(--secondary);
    border-bottom: 2px solid var(--secondary-dark);

    box-shadow: 0px -3px 10px var(--primary);

    .logo {
        position: relative;
        height: 4rem;
        .brand-name {
          display: none;
        } 

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: url("../../svg/logo.svg") no-repeat center;
            background-size: 100%;
            display: block;
            height: 200%;
            aspect-ratio: 1;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(-45deg);  /* Começa com -45 graus */
    }
    
    100% {
        transform: rotate(315deg);  /* Retorna para -45 graus */
    }
}