header {
    position: fixed;
    width: 100%;

    background-color: var(--primary-dark);
    .logo {
        .brand-name {
          display: none;
        } 

        &:after {
            content: "";
            background: url("../../svg/logo.svg") no-repeat center;
            background-size: 100%;
            display: block;
            width: 6rem;
            aspect-ratio: 1;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(-45deg);  /* Começa com -45 graus */
    }
    
    100% {
        transform: rotate(315deg);  /* Retorna para -45 graus */
    }
}