#header {
  position: fixed;
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: var(--secondary);
  box-shadow: 0px 0px 5px var(--secondary-dark);
  z-index: 999;
  .logo {
    display: flex;
    height: 200%;
    aspect-ratio: 1/1;
    background: url("../../svg/logo.svg") no-repeat center;
    background-size: contain;
    .brand-name {
      display: none;
    }
  }

  .header-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .inactive {
    color: var(--gray);
    transition: all .2s ease-in-out;
  }
  .active {
    color: var(--primary);
    transition: all .2s ease-in-out;
  }
}
