#header {
  position: fixed;
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: var(--secondary-light);
  box-shadow: 0px 2px 10px var(--gray);
  z-index: 999;
  .logo {
    display: flex;
    height: 200%;
    aspect-ratio: 1/1;
    background: url("../../svg/logo.svg") no-repeat center;
    background-size: contain;
    filter: drop-shadow(0 0 5px var(--primary));
    .brand-name {
      display: none;
    }
  }

  .header-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
