.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;

  &.loading {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

.global-loader .spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  aspect-ratio: 1;
  border: 5px solid transparent;
  border-top-color: var(--gray);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  &:before, &:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    aspect-ratio: 1;
    border: 5px solid transparent;
    border-radius: 50%;
  }
  &:before {
    width: 4rem;
    border-right-color: var(--gray);
  }
  &:after{
    width: 3rem;
    border-bottom-color: var(--gray);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
