#overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  #modal {
    background-color: var(--clear);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--primary);
    max-height: 80vh;
    overflow-y: auto;
  }

  &.active {
    display: flex;
  }
}
