#ticket {
  padding: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .order-ticket {
    position: relative;
    width: max-content;
    max-width: 70vw;
    text-align: left;


    padding: 3rem 2rem 2rem;

    display: flex;
    flex-direction: column;

    font-size: 24px;

    .ticket-code {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      background-color: var(--clear);

      display: flex;
      justify-content: center;
      align-items: center;

      width: 3rem;
      aspect-ratio: 1;

      border-radius: 100%;
      padding: .5rem;

      font-size: 32px;
      font-weight: 800;

      color: var(--primary);

      box-shadow: 0 2px 6px var(--secondary);
    }
    .title {
      font-size: 32px;
      text-align: center;
    }
    .cancel {
      font-size: 12px;
      color: var(--alert);
    }
  }
}
