#ticket {
  padding: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .order-ticket {
    width: max-content;
    max-width: 70vw;
    text-align: left;

    border: 2px solid var(--secondary);
    border-radius: 1rem;
    background-color: var(--secondary-light);

    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 24px;

    color: var(--font-primary);

    .title {
      font-size: 32px;
      text-align: center;
    }
    .separator {
      border-color: var(--secondary);
    }
    .cancel {
      font-size: 12px;
      color: var(--alert);
    }
  }
}
