.bin-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100%;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;

  background-color: var(--secondary);
  border: 2px solid var(--secondary-light);
  border-radius: 100%;
  aspect-ratio: 1 / 1;

  svg {
    color: var(--primary-dark);
  }
}

.trash-bin {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .order-date {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      font-size: 16px;
      font-weight: 600;
      color: var(--primary);
    }
  }

  .card-content {
    width: 100%;
    text-align: center;
    .order-code {
      width: 1rem;
      height: 1rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem;
      color: var(--secondary-dark);
      background-color: var(--secondary-light);
      border: 2px solid var(--secondary);
      border-radius: 100%;
      margin-right: 0.5rem;
      font-size: 20px;
    }
    .client-name {
      color: var(--font-primary);
      font-weight: 600;
      font-size: 16px;
    }
    .order-price {
      color: var(--font-secondary);
      font-weight: 800;
      font-size: 16px;
    }
  }
}
