form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .action {
    justify-content: space-between !important;
  }

  .subform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

input,
textarea {
  background: var(--secondary-light);
  border: 2px solid var(--secondary);
  padding: 0.2rem 0.5rem;

  font-size: 16px;
  font-weight: 600;
  color: var(--font-secondary);

  &:focus {
    margin: 1px;
    border: 1px solid var(--primary);
    outline: none;
  }

  &::placeholder {
    color: var(--gray);
  }
}

button {
  border: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--primary);
  height: fit-content;
  width: fit-content;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  color: var(--secondary-light);
  font-weight: 600;
  font-size: 14px;

  transition: all 0.3s ease-in-out;

  &.invert {
    background-color: transparent;
    border: 2px solid var(--gray);
    color: var(--font-secondary);
  }

  svg {
    color: var(--secondary-light);
  }

  &.proceed {
    background-color: var(--success);
    border-color: var(--success);
  }
  &.cancel {
    background-color: transparent;
    color: var(--alert);
    border-color: var(--alert);
  }

  &:disabled {
    background-color: var(--gray);
    border: 2px solid var(--gray);
  }

  &.active {
    background-color: var(--primary);
    filter: drop-shadow(2px 2px 5px var(--primary));
  }

  &.inactive {
    background-color: var(--gray);
  }
}

svg {
  color: var(--primary);
  transition: color 0.3s ease-in-out;
  &.active {
    color: var(--primary);
  }

  &.inactive {
    color: var(--gray);
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  margin: 1rem 0;
  gap: 1rem;

  text-align: center;

  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.card {
  animation: fromBelow 0.4s ease-out forwards;

  background-color: var(--clear);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 10px var(--secondary);
  border-radius: 1rem;

  text-align: left;

  min-height: 5rem;
  .card-value-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quantity {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      font-size: 24px;
      color: var(--font-primary);
      font-weight: 800;
    }
  }

  .card-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .extra-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &.checkbox {
          &:before {
            content: "";
            width: 1rem;
            aspect-ratio: 1;
            border: 2px solid var(--primary-dark);
            border-radius: 0.5rem;
            background: var(--secondary);
            transition: 0.3s all ease-in-out;
          }
          &.selected {
            &:before {
              content: "";
              width: 1rem;
              aspect-ratio: 1;
              border: 2px solid var(--primary-dark);
              background: var(--primary);
            }
          }
        }
      }
    }
  }

  .extra-content {
    max-height: 0;
    overflow: hidden;
  }
  &.expand {
    .extra-content {
      max-height: 10rem;
    }
  }

  .informative {
    .not-done {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .done {
      display: none;
    }
  }

  .added {
    .informative {
      .not-done {
        display: none;
      }
    }
    button.active {
      background-color: var(--success);
      border: 2px solid var(--success);
      filter: drop-shadow(2px 2px 5px var(--success));
      .done {
        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;
      }
    }
  }
}

.separator {
  display: flex;
  margin: 0.5rem 0;
  width: 100%;
  border-top: 2px dashed var(--gray);
  opacity: 0.5;
}
