@import "global.css";

@import "./default/color.css";
@import "./default/text.css";
@import "./default/animations.css";

@import "./pages/admin.css";
@import "./pages/auth.css";
@import "./pages/checkout.css";
@import "./pages/home.css";

@import "./components/actions.css";
@import "./components/drawer.css";
@import "./components/floater.css";
@import "./components/header.css";
@import "./components/loader.css";
@import "./components/modal.css";
@import "./components/popup.css";
@import "./components/ticket.css";
@import "./components/trashbin.css";

@font-face {
  font-family: 'Fredoka';
  src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "Nunito";
}

body {
  min-height: 100vh;

  background-image: linear-gradient(60deg, var(--clear), var(--secondary))
}
