@import 'global.css';

@import './default/color.css';
@import './default/text.css';

@import './pages/auth.css';
@import './pages/admin.css';

@import './components/header.css';
@import './components/floater.css';

@import './components/menu.css';
@import './components/checkout.css';

@import './card.css';

* {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: 'raleway';
}

body {
  min-height: 100vh;

  background-color: var(--clear);
}