@import "global.css";

@import "./default/color.css";
@import "./default/text.css";
@import "./default/animations.css";

@import "./pages/admin.css";
@import "./pages/auth.css";
@import "./pages/checkout.css";
@import "./pages/home.css";

@import "./components/actions.css";
@import "./components/drawer.css";
@import "./components/floater.css";
@import "./components/header.css";
@import "./components/loader.css";
@import "./components/modal.css";
@import "./components/popup.css";
@import "./components/ticket.css";
@import "./components/trashbin.css";

* {
  margin: 0;
  padding: 0;

  list-style: none;

  font-family: "raleway";
}

body {
  min-height: 100vh;

  background-image: linear-gradient(60deg, var(--clear), var(--secondary))
}
